<template>
  <div id="container">
    <TheHeader/>
      <nuxt/>
    <TheBanner/>
    <TheFooter/>
  </div>
</template>

<script>
  import TheHeader from '~/components/common/TheHeader';
  import TheFooter from '~/components/common/TheFooter';
  import TheBanner from '~/components/TheBanner';

  export default {
    components: {
      TheHeader,
      TheFooter,
      TheBanner
    }
  }
</script>
