<template>
    <ol id="pagePath">
        <template v-for="item in breadcrumbs">
            <li v-if="item.path">
                <nuxt-link :to="item.path">{{ item.name }}</nuxt-link>
            </li>
            <li v-else>{{ item.name }}</li>
        </template>
    </ol>
</template>

<script>
    export default {
        props: {
            breadcrumbs: {
                type: Array
            }
        }
    };
</script>