<template>
    <section class="faq">
		<h2 class="ttl">
			<span class="icon">Q.</span>
			{{question}}
		</h2>
		<div class="txt">
            <span class="icon">A.</span>{{answer}}
		</div>
	</section>
</template>

<script>
    export default {
        props: {
            question: {
                type: String,
                required: true
            },
            answer: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped lang="scss">
    /*------------------------------------------------------------
	faq
	------------------------------------------------------------*/
    
    .faq {
        margin-top: 20px;
        overflow: hidden;
    }
    
    .faq:first-child {
        margin-top: 0;
    }
    
    .faq .ttl,
    .faq .txt {
        padding: 27px 45px 23px 55px;
        position: relative;
        border: 1px solid #d6d6d6;
    }
    
    .faq .ttl .icon,
    .faq .txt .icon {
        position: absolute;
        top: 27px;
        left: 30px;
    }
    
    .faq .ttl {
        background-color: #FFF;
        color: #004795;
        font-weight: normal;
        cursor: pointer;
        line-height: 1.5;
    }
    
    .faq .ttl:after {
        margin-top: -7px;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-image: url(~assets/img/common/icon/icon_open.png);
        -ms-background-size: 15px 15px;
        background-size: 15px 15px;
        position: absolute;
        top: 50%;
        right: 30px;
        content: "";
    }
    
    .faq .ttl.is-open:after {
        background-image: url(~assets/img/common/icon/icon_close.png);
    }
    
    .faq .txt {
        background-color: #F6F6F6;
        border-top: none;
        display: none;
        white-space:pre-line; 
        word-wrap:break-word;
    }
</style>