<template>
    <section>
        <h2 class="ttl">{{title}}</h2>
        <p>{{text}}</p>
    </section>
</template>

<script>
    export default {
        props: {
            title: {
                type: String
            },
            text: {
                type: String
            }
        }
    };
</script>

<style scoped lang="scss">
/*------------------------------------------------------------
privacy
------------------------------------------------------------*/

section .ttl {
    padding: 60px 0 30px;
    color: #004795;
    font-size: 112.5%;
    font-weight: normal;
}

section p {
    padding-bottom: 60px;
    border-bottom: 1px solid #e6e6e6;
}

section:first-child .ttl {
    padding-top: 0;
}
</style>