<template>
    <div class="page-faq">
        <TheBreadcrumb :breadcrumbs="breadcrumbs" />
      
        <main id="main">
            <TheMainvisual name="/faq/page_ttl.png" width="378" height="72" alt="サービスに関するFAQ FAQ" />

            <div id="conts" class="contsSet">
            
                <TheFaqItem
                    question="コンサルティングサービスの費用には、採用ツールの制作費も含まれているのでしょうか？"
                    answer="はい、含まれております。
                    大まかなスケジュールと施策内容を協議した上でご契約となりますが、その際、各種採用ツールの制作費も含めてご提案いたします。"
                />

                <TheFaqItem
                    question="各サービス、例えば採用サイトの制作だけを申し込むことはできますか？"
                    answer="はい、可能です。
                    採用プロモーションツールの制作のみ、コンサルティングのみ、採用アウトソースのみといった個別のお申し込みができます。"
                />

                <TheFaqItem
                    question="月額ってどういうことですか？"
                    answer="ご契約前に達成目標とスケジュールをご提案いたします。達成に必要な体制・布陣によって当社の月間の最大作業時間が決まりますので、その範囲でコンサルティング・実制作を行います。ご予算やスピードなどで増減が可能です。"
                />

                <TheFaqItem
                    question="コンサルサービスの契約期間は最低どのくらいですか？"
                    answer="12ヶ月、または24ヶ月です。採用課題の抽出と解決策のご提示にはどうしても時間が掛かってしまいますし、プロジェクトを進めるうちに発現した課題や必要な制作物などに柔軟に対応するためです。
                    『採用サイトだけ』『入社案内だけ』などの発注も可能で、こちらは単体でのご注文となります。"
                />

                <TheFaqItem
                    question="月額制のメリットって何でしょうか？"
                    answer="イーディアスのコンサルティングサービスの最終目標は「プロの知見を移植し、仕組化する」ことにあります。単なるアドバイスや制作、代行ではなく、課題解決やご提案を通じて採用力を高めるため、原則毎月のご訪問と当事者意識を持った企画提案や施策実施を、お客様とともに実行いたします。"
                />

                <TheFaqItem
                    question="費用に含まれるものと含まれないものを教えて下さい。"
                    answer="人事制度の策定や評価、教育など、採用活動から外れることについては対象外ですが、情報提供やアドバイスは可能です。まずはご相談ください。
                    また、印刷費や広告費などは実費をご負担いただきます。"
                />

            </div>
        </main>
    </div>
</template>


<script>
    import TheBreadcrumb from "~/components/TheBreadcrumb";
    import TheMainvisual from "~/components/TheMainvisual";
    import TheFaqItem from "~/components/TheFaqItem";
    export default {
        components: {
            TheMainvisual,
            TheBreadcrumb,
            TheFaqItem
        },
        data () {
            return {
                title: 'サービスに関するFAQ - ii-deais（イーディアス）',
                breadcrumbs: [{
                    name: '株式会社イーディアスホーム ＞',
                    path: '/'
                }, {
                    name: 'サービスに関するFAQ'
                }]
            }
        },
        head() {
            return {
                title: this.title,
                meta: [
                    { hid: 'description',
                    name: 'description',
                    content: '株式会社 ii-deais（イーディアス）のサービスに関するFAQを掲載しております。' }
                ]
            }
        },
        mounted: function() {
            $('.faq .ttl').click(function() {
                $(this).toggleClass('is-open');
                $(this)
                    .next('.txt')
                    .stop()
                    .slideToggle();
            });
            $('.faq .open')
                .next('.txt')
                .show();
        }
    };
</script>

